<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <h4>낯선 기술도 빠르게 적응하는 개발자</h4>
        <p>Spring 백엔드를 넘어 인턴십에서 Python 기반 RAG 파이프라인을 직접 구축했습니다. 낯선 환경에서도 필요한 기술을 빠르게 습득해 제 몫을 다할 준비가 되어있습니다.</p>
      </div>
      <div class="col-lg-4">
        <h4>소통을 중요시하는 개발자</h4>
        <p>'질문과 확인'으로 팀 방향성에 맞는 코드를 짭니다. RAG 시스템 구축 시 지속적인 피드백을 반영해 단기간에 안정적인 파이프라인을 완성했고, 소통으로 동료 리소스를 아끼는 개발자를 지향합니다.</p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://github.com/hi4579675" class="btn btn-lg btn-outline" target="_blank">
          <i class="fa fa-github"></i> GitHub
        </a>
      </div>
    </div>
  </div>
</section>
